
:root{
    --gold:#f3961c;
    --brownish:#3b141c;
}
*{
    box-sizing: border-box;
}

/*navbar*/
.navbar{
    background-color:var(--brownish);
}
.navbar-toggler-icon{
    color:white;
}
.navbar .fa-bars{
    color: white;
}
@media screen and (min-width:992px){
    .navbar .fa-bars{
        display: none;
    }
}
.navbar .fa-bars:hover{
    color:var(--gold);
}

@media screen and (max-width:992px){
    .navbar ul{
        display: none;
    }
}
.offcanvas ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offcanvas ul a{
    color:black;
    border:1px solid white;
    border-radius: 30px;
    margin: 15px;
    font-size: 25px;

}
 .navbar .navbar-brand{
    font-size: 30px;
    font-weight: bold;
 }
 .offcanvas ul a:hover{
    background-color:var(--gold);
    color:white;
 }
 .navbar li{
    padding:6px;
 }
 .navbar ul a:hover{
    color:black;
    background-color: var(--gold);

 }
 .navbar ul a{
    border:1px solid var(--brownish);
    border-radius: 30px;
    font-size: 18px;
 }
 /*main*/
 .hero{
    background-color: var(--brownish);
    color: white;
 }
 .hero button{
    color: white;
    border: 1px solid white;
    border-radius: 45px;
    margin:12px;
    padding: 10px;
    font-size: 15pt;
    font-weight:500;
    width: 150px;
 }
 .hero #order-btn{
    background-color: var(--gold);
    border-color: var(--gold);
 }
 .hero #order-btn:hover{
    background-color: var(--brownish);
    border-color: white;
 }
 .hero #contact-btn{
    background-color: var(--brownish);
    border-color: white;
 }
 .hero #contact-btn:hover{
    background-color: var(--gold);
    border-color: var(--gold);
 }
 
 @media screen and (max-width:992px){
    .main{
        flex-direction: column-reverse;
        align-content: center;
    }
    .main-content{
        text-align: center;
    }
}
    @media screen and (min-width:992px){
        .hero{
            padding-top: 30px;
            padding-bottom: 120px;
         }
         .main-content{
            max-width: 40%;
         }
    
 }
 
 .main-content h1{
    color: var(--gold);
    font-weight: bold;
 }
 .main-content h2{
    font-weight: bold;
 }

 .main-content p{
    font-size:14pt;
    font-weight: 400;
 }

 .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*about*/
.about-img img{
    border-radius:50%;
    object-fit: cover;
}
.about{
    display: flex;
    justify-content: space-between;
}
@media  screen and (min-width:992px) {
    .about .about-content{
        max-width: 50%;
        padding-top: 80px;
       
    }
}
@media screen and (max-width:992px){
    .about{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about .about-content{
        max-width: 100%;
    }
    .about-img img{
        size:300px;
    }
    
}
.about .about-content{
    text-align: center;
}
.about-section{
    padding: 100px;
}
 .line{
    width:80px;
    margin: auto;
    height: 5px;
    background-color: var(--gold);
    border-radius: 10px;
}
.about-content .social-links a{
    padding: 10px;
    font-size: 18pt;
    color: black;

}
.social-links{
    margin-bottom: 100px;
}
.about-content h2{
    font-weight: bold;
}
.about-content p{
    font-size: 14pt;
    padding-top: 40px;
  
}
/*menu section*/
.menu .card{
    background-color: transparent;
    color: white;
    text-align: center;
    border: none
}
.menu .card p{
    font-size: 13pt;
}
.menu-content{
    color: white;
    text-align: center;
    padding-top: 80px;

}

.menu .card img{
    object-fit: contain;
}
.menu-content h2,.menu-cards h5 {
    font-weight:700;
}
.menu-cards{
    padding-top: 100px;
   
}
.menu-cards .card .card-body{
    padding: 50px;
}
.menu-cards .card-text{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
/*testimonial sections*/
.test-section{
    background-color: #faf4f5;
}
.test-content{
    text-align: center;
    padding-top: 80px;
}
.test-content h2{
    font-weight: 700;
}
.carousel-item .card{
    background-color: transparent;
    border: none;
    width:400px;
    text-align: center;
    align-items: center;
}
.carousel .card-img-top{
    border-radius: 50%;
   object-fit: contain;
   width: 180px;
   height: 180px;
}
.carousel-inner{
    padding: 20px;
}